In [13]:
!pip install us

Requirement already satisfied: us in /anaconda3/lib/python3.7/site-packages (1.0.0)
Requirement already satisfied: jellyfish==0.5.6 in /anaconda3/lib/python3.7/site-packages (from us) (0.5.6)

In [2]:
# Dependencies
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states

# Census & gmaps API Keys
import sys
sys.path.append('../../')
from config import gkey

In [3]:
tornado_pd = pd.read_csv("../CSV-Data/Tornado_Data_1950to2015.csv")
tornado_pd.head()

,Tornado Number per Year,Year,Month,Day,Date,Time,TimeZone,State,State FIPS Number,Number of Tornado per State per Year,...,Fatalities,Property Loss ($),Crop Loss (millions $),Starting Latitude,Starting Longitude,Ending Latitude,Ending Longitude,Length (miles),Width (yards),fc
0,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,0,6.0,0.0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,0,5.0,0.0,39.10,-89.30,39.12,-89.23,3.6,130,0
2,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0,4.0,0.0,40.88,-84.58,0.00,0.00,0.1,10,0
3,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,1,3.0,0.0,34.40,-94.37,0.00,0.00,0.6,17,0
4,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,0,5.0,0.0,37.60,-90.68,37.63,-90.65,2.3,300,0

In [4]:
t_year_df = tornado_pd.rename(columns= {"Starting Latitude": "Lat", "Starting Longitude": "Lng"})

t_year_df = t_year_df[["Year", "Lat", "Lng", "Property Loss ($)"]]

tornado06_07_df = t_year_df.loc[t_year_df["Year"].isin([2006, 2007])]
tornado08_09_df = t_year_df.loc[t_year_df["Year"].isin([2008, 2009])]
tornado10_11_df = t_year_df.loc[t_year_df["Year"].isin([2010, 2011])]
tornado12_13_df = t_year_df.loc[t_year_df["Year"].isin([2012, 2013])]
tornado14_15_df = t_year_df.loc[t_year_df["Year"].isin([2014, 2015])]
t_year_df.head()

   Year    Lat    Lng  Property Loss ($)
0  1950  38.77 -90.22                6.0
1  1950  39.10 -89.30                5.0
2  1950  40.88 -84.58                4.0
3  1950  34.40 -94.37                3.0
4  1950  37.60 -90.68                5.0

In [5]:
gmaps.configure(api_key=gkey)

In [6]:
locations_total = t_year_df[["Lat", "Lng"]].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations_total, weights=t_year_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
locations06_07 = tornado06_07_df[["Lat", "Lng"]].astype(float)
fig06_07 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations06_07, weights=tornado06_07_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 25
heat_layer.point_radius = 1

fig06_07.add_layer(heat_layer)

fig06_07

Figure(layout=FigureLayout(height='420px'))

In [22]:
locations08_09 = tornado08_09_df[["Lat", "Lng"]].astype(float)
fig08_09 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations08_09, weights=tornado08_09_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 25
heat_layer.point_radius = 1

fig08_09.add_layer(heat_layer)

fig08_09

Figure(layout=FigureLayout(height='420px'))

In [23]:
locations10_11 = tornado10_11_df[["Lat", "Lng"]].astype(float)
fig10_11 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations10_11, weights=tornado10_11_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 25
heat_layer.point_radius = 1

fig10_11.add_layer(heat_layer)

fig10_11

Figure(layout=FigureLayout(height='420px'))

In [24]:
locations12_13 = tornado12_13_df[["Lat", "Lng"]].astype(float)
fig12_13 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations12_13, weights=tornado12_13_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 25
heat_layer.point_radius = 1

fig12_13.add_layer(heat_layer)

fig12_13

Figure(layout=FigureLayout(height='420px'))

In [25]:
locations14_15 = tornado14_15_df[["Lat", "Lng"]].astype(float)
fig14_15 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations14_15, weights=tornado14_15_df["Property Loss ($)"], dissipating=False, max_intensity=100, point_radius = 1)

heat_layer.dissipating = False
heat_layer.max_intensity = 25
heat_layer.point_radius = 1

fig14_15.add_layer(heat_layer)

fig14_15

Figure(layout=FigureLayout(height='420px'))